@import 'variables';

.info {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5vw;
  > h1 {
    font-size: 4rem;
  }
}

// used with react-addons-css-transition-group
._positionPage {
  position: absolute;
  top: 0;
}

._positionPageLeft {
  @extend ._positionPage;
  right: 0;
}

._positionPageRight {
  @extend ._positionPage;
  left: 0;
}

.leftFaceUpBottom {
  @extend ._positionPageLeft;
  z-index: 998;
}

.rightFaceUpBottom {
  @extend ._positionPageRight;
  z-index: 998;
}

// left page to flip
.leftFaceUpTop {
  position: relative;
  z-index: 999;
  transform: rotateY(0deg);
}
.leftFlip {
  @extend .leftFaceUpTop;
  transform: rotateY(0deg) !important; // right to left works
}
.leftFaceDown {
  position: relative;
  z-index: 1000;
  transform: rotateY(180deg);
}

// right page to flip
.rightFaceUpTop {
  position: relative;
  z-index: 999;
  transform: rotateY(0deg);
}
.rightFlip {
  @extend .rightFaceUpTop;
  transform: rotateY(0deg) !important; // right to left works
}
.rightFaceDown {
  position: relative;
  z-index: 1000;
  transform: rotateY(-180deg);
}


.magazine {
  position: relative;
  z-index: 995;
  padding: 10px 0px;
  height: calc(100vh - 100px)
}

._page {
  cursor: pointer;
  display: flex;
  height: 100%;
  img, span {
    height: 100%;
    user-select: none;
  }
  .arrow {
    cursor: pointer;
    display: flex;
    height: 100%;
    > i {
      color: darken($textColor, 50%);
      align-self: center;
      transition: all 300ms;
    }
  }
  &:hover > .arrow > i {
    color: $textColor !important;
  }
}

.pageLeft {
  @extend ._page;
  &:hover {
    > .arrow > i {
      transform: translateX(-10px);
    }
  }
}

.pageRight {
  @extend ._page;
  &:hover {
    > .arrow > i {
      transform: translateX(10px);
    }
  }
}

.pageWrapper {
  perspective: 4000px;
  display: flex;
  padding: 0 !important;
  height: 100%;
  &:nth-child(odd) {
    perspective-origin: 100%;
    justify-content: flex-end;
    img {
      transform-origin: right;
    }
  }
  &:nth-child(even) {
    perspective-origin: 0;
    img {
      transform-origin: left;
    }
  }
  img {
    backface-visibility: hidden;
    transition: transform 800ms;
  }
}
