// used with react-addons-css-transition-group
.goDown {
  transform: rotateY(0deg) !important;
}


.goUpFromLeft {
  transform: rotateY(90deg);
  z-index: 1000;
}

._positionPageLeft {
  position: absolute;
  top: 0;
  right: 0;
}

._startDownFromLeft {
  @extend ._positionPageLeft;
}

.startDownOnBottomFromLeft {
  @extend ._startDownFromLeft;
  z-index: 999;
}

.startDownOnTopFromLeft {
  @extend ._startDownFromLeft;
  z-index: 1000;
}

.startUpFromLeft {
  @extend ._positionPageLeft;
  z-index: 1000;
  transform: rotateY(90deg);
}

.goUpFromRight {
  transform: rotateY(-90deg);
  z-index: 1000;
}

._positionPageRight {
  position: absolute;
  top: 0;
  left: 0;
}

._startDownFromRight {
  @extend ._positionPageRight;
}

.startDownOnBottomFromRight {
  @extend ._startDownFromRight;
  z-index: 999;
}

.startDownOnTopFromRight {
  @extend ._startDownFromRight;
  z-index: 1000;
}

.startUpFromRight {
  @extend ._positionPageRight;
  z-index: 1000;
  transform: rotateY(-90deg);
}

.magazine {
  position: relative;
  z-index: 995;
  padding-top: 10px;
  > div {
    display: flex;
    padding: 0;
    &:nth-child(odd) {
      perspective-origin: 100%;
      justify-content: flex-end;
      img {
        transform-origin: right;
      }
    }
    &:nth-child(even) {
      perspective-origin: 0;
      img {
        transform-origin: left;
      }
    }
    img {
      transition: all 3000ms;
    }
  }
}

.page {
  height: 680px;
  cursor: pointer;
}

.pageWrapper {
  perspective: 2500px;
}
