@import 'variables';

.cardContainer {
  padding: 0 !important;
  > h1 {
    width: 100%;
    text-align: left;
  }
}

.magazine {
  margin-bottom: 50px;
  > a {
    text-decoration: none;
    color: $textColor;
  }
}

.header {
  text-align: left;
}
