$primary1Color: #111; // almost black
$primary2Color: #4d5256; // slightly darker grey
$primary3Color: #e1e8f0; // light grey
$accent1Color: #6ed3cf; // blue
$accent2Color: #e62739; // red
$accent3Color: #9068be; // purple

$textColor: #fff; // white
$alternateTextColor: #111; // almost black
