@font-face {
  font-family: 'Arno Pro Light';
  src: url('../styles/fonts/ArnoProLight.ttf') format('truetype');
}

:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'variables';
  @import 'wordpress';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    font-family: 'Arno Pro Light';
    box-sizing: border-box;
    color: $textColor;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica';
    font-weight: 400;
  }

  p {
    font-size: 1.1rem;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: $primary1Color;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  // limit max width of content area
  @media screen and (min-width: 1920px) {
    .row {
      justify-content: center !important;
      > div {
        margin-left: 0 !important;
        max-width: 1550px !important;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
