@font-face {
  font-family: 'Arno Pro Light';
  src: url(../static/fonts/ArnoProLight.ttf);
}
@font-face {
  font-family: 'Modern No 20';
  src: url(../static/fonts/ModernNo20.ttf);
}

:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'variables';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    font-family: 'Arno Pro Light';
    box-sizing: border-box;
    color: $textColor;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica';
  }

  p {
    font-size: 1.25rem;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: $primary1Color;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 1199px) {
    h1 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 414px) {
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
