@import 'variables';

.enter {
  opacity: 0;
  transform: translateY(75px);
  transition: all 500ms;
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
}

.postsContainer > span {
  display: flex;
  flex-flow: wrap;
}
