@import 'variables';

.blogCard {
  flex: 1;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.blogImage {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(.7);
}

.blogRotate {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blogsContainer {
  > div {
    display: flex;
  }
}

.loadMore {
  background-color: #dedede;
  color: $alternateTextColor;
  font-family: 'Helvetica';
  font-size: 1.1rem;
  padding: 12px 24px;
  margin: 25px 0px 75px 0px;
  border-radius: 2px;
  border: none;
  &:hover {
    background-color: #fff;
  }
}

.postsContainer {
  > div {
    display: flex;
    &:nth-child(odd) {
      justify-content: flex-end;
    }
  }
}
