@import 'variables';

.enter {
  position: relative;
  z-index: 0;
}

.enterActive {

}

.leave {
  transition: all 1s;
  transition-delay: 500ms;
  z-index: 3000;
}

.leaveActive {
  opacity: 0;
}

.loaderWrapper {
  background-color: $primary1Color;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
