@import 'variables';

.content {
  color: $alternateTextColor;
  margin: 30px 0px 50px 0px;
  text-align: left !important;
  max-width: 570px !important;
  overflow: hidden;
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.subTitle {
  color: #111;
  width: 100%;
  margin-top: 0;
  > a {
    color: $alternateTextColor;
  }
}

.title {
  color: #111;
  width: 100%;
}

.wrapper {
  background-color: #fff;
  margin: 20px 0;
}
