@import 'variables';

.card {
  background-color: #fff;
  height: 300px;
  margin: 25px;
  position: relative;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 25px;
  z-index: 30;
  > h6 {
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin-bottom: 0;
  }
  .title {
    padding: 15px;
    border: solid 4px;
    > span {
      display: block;
      font-size: 1.3rem;
      font-family: Helvetica;
    }
  }
}

.image, .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.image {
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.overlay {
  background-color: rgba(17, 17, 17, .5);
  z-index: 20;
}

.target {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 32;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: all 300ms;
  &:hover {
    opacity: 1;
  }
}

// all the same on mobile
.small, .medium, .large {
  flex: 1 0 100%;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .card {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .small {
    flex: 1 0 50%;
    width: 50%;
    max-width: 50%;
  }

  .medium, .large {
    position: relative;
    flex: 1 0 66.66%;
    .card {
      height: 300px;
      .content {
        display: inline-block;
        color: $alternateTextColor;
        float: right;
        width: calc(50% + 25px);

      }
      .image {
        display: inline-block;
        width: calc(50% - 25px);
        position: relative;
      }
      .overlay {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .small {
    flex: 1 0 33.33%;
    width: 33.33%;
    max-width: 33.33%;
  }

  .medium {
    flex: 1 0 66.66%;
    width: 66.66%;
    max-width: 66.66%;
  }

  .large {
    position: relative;
    flex: 1 0 66.66%;
    width: 66.66%;
    max-width: 66.66%;
    .card {
      height: 650px;
      .content {
        position: static;
        height: calc(50% + 25px);
        > .title {
          position: absolute;
          top: 25px;
          left: 25px;
          right: 25px;
          z-index: 31;
        }
        > .preview, > h6 {
          color: $alternateTextColor;
        }
      }
      .image, .overlay {
        height: calc(50% - 25px);
      }
      .image {
        position: relative;
      }
    }
  }
}
