@import 'variables';

.social {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
}

.socialAnimation {
  display: block;
  transition: all 300ms;
  background-color: $primary1Color;
  opacity: .5;
  z-index: 11;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -30px;
}

.socialIcon {
  position: relative;
  vertical-align: bottom;
  z-index: 10;
  margin: 20px 15px;
  display: block !important;
  font-size: 1.5rem !important;
  cursor: pointer;
  overflow: hidden;
  > a {
    color: $textColor;
    text-decoration: none;
  }
  &:hover {
    .socialAnimation {
      transform: translateY(-30px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .content {
    margin: 130px 60px 30px 60px;
  }
}

// tablet-ish
@media screen and (max-width: 1199px) {
  .content {
    margin-top: 100px;
  }
  .socialAnimation {
    display: none;
  }
}

// mobile
@media screen and (max-width: 414px) {
  .content {
    margin-top: 90px;
  }
  .social {
    margin: 5px;
    position: static;
  }
  .socialIcon {
    display: inline-block !important;
    margin: 10px;
  }
}
