@import 'variables';

// large
@media screen and (min-width: 1200px) {
  .content {
    margin-top: 130px;
    min-height: calc(100vh - 130px);
  }
}

// medium
@media screen and (max-width: 1199px) {
  .content {
    margin: 100px 60px 30px 60px;
    min-height: calc(100vh - 100px);
  }
}

// small
@media screen and (max-width: 991px) {
  .content {
    margin: 100px 0 0 0;
    min-height: calc(100vh - 100px - 60px);
  }
}

// extra small
@media screen and (max-width: 767px) {
  .content {
    margin-top: 90px;
    min-height: calc(100vh - 90px - 60px);
  }
}
