@import 'variables';

.content {
  min-height: 60vh; // TODO remove after creatives/about are done
}

// large
@media screen and (min-width: 1200px) {
  .content {
    margin-top: 90px;
  }
}

// medium
@media screen and (max-width: 1199px) {
  .content {
    margin-top: 70px;
  }
}

// extra small
@media screen and (max-width: 767px) {
  .content {
    margin-top: 60px;
  }
}
