.cardContainer {
  > div {
    display: flex;
    &:nth-child(odd) {
      justify-content: flex-end;
    }
  }
}

.splashContent {
  padding: 50px 0;
}

// tablet-ish
@media screen and (max-width: 1199px) {
  .cardContainer {
    > div {
      justify-content: center !important;
    }
  }
  .splashContent {
    padding: 0;
  }
}

// mobile
@media screen and (max-width: 414px) {
  .cardContainer {
    > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
