.postsContainer {
  margin-bottom: 75px;
  > div {
    display: flex;
    &:nth-child(odd) {
      justify-content: flex-end;
    }
  }
}

.postContainer {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.recentContainer {
  background-color: #fff;
  height: 500px;
}
