@import 'variables';

.logo {
  flex: 1;
  > img {
    height: 70px;
    margin: 0 15px;
    vertical-align: bottom;
  }
}

.navItem {
  transform: translateZ(0); // fix font flicker on safari
  font-family: 'Modern No 20';
  font-size: 1.2rem;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  color: #fff;
  transition: color 300ms;
  position: relative;
  margin: 0 15px;
  flex: 1;
  max-width: 125px;
  outline: none;
  text-align: center;
  text-decoration: none;
  &::before, &::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    z-index: -1;
    transition: all 300ms;
    pointer-events: none;
    background: #fff;
    content: '';
  }
  &::before {
    transform: translateY(-20px);
  }
  &::after {
    transform: translateY(20px);
  }
}

.navItem:hover, .navItemActive {
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.navWrapper {
  flex: 2;
  float: right;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.wrapper {
  background-color: #111;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 20px;
  top: 0;
  height: 100px;
  z-index: 1;
  width: 100%;
}

.background {
  z-index: 90;
}

.links {
  font-size: 1.5rem;
  z-index: 100;
}

@media screen and (max-width: 1199px) {
  .logo > img {
    height: 50px;
    margin: 0;
  }
  .navWrapper {
    display: none;
  }
  .wrapper {
    height: 80px;
  }
}

@media screen and (max-width: 414px) {
  .logo > img {
    height: 40px;
  }
  .wrapper {
    height: 70px;
    padding: 0 15px;
  }
}
